*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url("./images/top.svg"),
    linear-gradient(110deg, #f93d66, #6d47d9);
  background-size: 340px, auto;
  min-height: calc(100vh - 100px);
  margin: 50px;
  /* background: white; */
  background-attachment: fixed;
  letter-spacing: -1px;
  overflow-y: auto;
  overflow-x: hidden;
}
.logo h1{
    font-family: 'Cedarville Cursive', cursive;
    margin-left: 630px;
    margin-top: -35px;
}
.logo img{
    height: 100px;
    margin-top: -80px;
    margin-left: 600px;
}
.logo{
    height: 10px;
}
#tr ul {
    display: grid;
    grid-gap: 10px;
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    margin-top: 50px;
  }
  
  #tr a {
    background-color: rgb(255, 166, 0);
    display: block;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    color: var(--black);
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 900;
  }
  
  [aria-controls="tr"] {
    display: none;
  }
 .image img{
   border-radius: 50%;
 }
 .image a{
   color: black;
   text-decoration: none;
 }
 .image h1{
   margin-left: 50px;
 }
 .image{
   margin-left: 250px;
   margin-top: 100px;
 }
 .select{
   display: flex;
   margin-left: 100px;
 }
 .foot{
  background-color: rgb(255, 166, 0);
  height: 130px;
  color: white;
  margin-top: 560px;
  
}
.foot h2{
  width: 1000px;
  margin-left:200px;
}
.foot p{
  font-size: 20px;
  margin-left: 200px;
}
.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
  display: none;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #4CAF50;
  color: white;
  
  font-size: 25px;
}
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: red; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}
@media screen and (max-width: 768px) {
  .foot h2{
    margin-left: -0px;
    width: 100%;
}
.foot p{
    margin-left: 10px;
}
.logo{
  display: none;

}
.foods .food-card{
  margin-left: -45px;
}
#tr{
  display: none;
}
.topnav{
  display: block;
}

::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: red; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}
.select{
  margin-left: -250px;
  display: block;
}
}